body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: lightcyan;
    height: 100vh;
    position: relative;
}

#player {
    background-color: coral;
    position: absolute;
}

.obstacle {
    background-color: blue;
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: lightskyblue;
}